<div class="container container-data" [@fadeInOnEnter]>

    <div class="header">
        <h1 class="text-center">About This App</h1>
        <hr>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-evenly text-center">
        <div class="col">
            <div class="container">
                <img src="././assets/resources/images/AngularLogo.png" alt="angularLogo" class="thumbnail" />                
            </div>
        </div>
        <div class="col">
            <div class="container">
                <img src="././assets/resources/images/FirebaseLogo.png" alt="angularLogo" class="thumbnail" />
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-evenly text-center">
        <div class="col">
            <div class="container">
                <br>
                <small class="fw-bold text-muted fst-italic">Angular 13</small>
            </div>
        </div>

        <div class="col">
            <div class="container">
                <br>
                <small class="fw-bold text-muted fst-italic">Firebase</small>
            </div>
        </div>
    </div>

</div>