.container-data {
    margin-top: 3em;

    .heart-image {
        margin-top: 2em;
        border-radius: 13px;
        height: 35em;
        width: auto;
    }

    .container-detail {
        margin-top: 3em;

        .doctor-image {
            height: 20em;
            border-radius: 13px;
        }

        .container-pic {
            margin-top: 3em;
        }
    }
}
