.container-data {
    .panel {
        height: 40em;
        overflow-y: auto;
        background-color: #666666 !important;
        border-style: solid;
        border-width: 1px;
        border-color: black !important;
        border-radius: 13px;
        color: black;

        .accordion-item {
            border-radius: 13px !important;
        }

        a {
            text-decoration: none;
            color: black !important;
        }

        a:hover {
            color: goldenrod !important;
        }
    }
}
