.navbar {
    .nav-link {
        color: white !important;
        transition: all 0.2s ease-in;        
        font-size: 0.86em;
    }

    .nav-link:hover {
        color: rgb(202, 60, 60) !important; 
        //text-decoration: underline;
    }

    .icon-color {
        color: #fbb2a5 !important;
    }

    .email-link{
        cursor: default;
    }
}
