/*
body {
    background-color: #111111 !important;
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

nav {
    color: white !important;

    a {
        color: white !important;
    }
}

.card {
    background-color: #111111 !important;
    border-color: white !important;
    color: white;

    .card-header {
        background-color: #3c3c3c !important;
    }

    .card-footer {
        background-color: #3c3c3c !important;
    }

    .form-control {
        background-color: #3c3c3c !important;
        color: white !important;
        border-color: #0a3fb1 !important;
    }
}

.logged-in-options {
    width: 15em;
}

.email {
    margin-top: 0.5em;
    margin-right: 1em;
}*/