<div class="container container-data">
    <div class="header">
        <h1 class="text-center">Not Found <fa-icon [icon]="faBug" class=""></fa-icon>
        </h1>
        <hr>
    </div>

    <div class="container">
        <div class="banner d-flex flex-row">
            <img src="././assets/resources/images/Cat.png" alt="catImage" class="cat-image shadow-lg" />
            <div class="text container">
                <br>
                <div class="container w-75 d-flex flex-column align-items-center">
                    <h5 class="text-dark"><u>Whoooooopsss!!!</u>
                    </h5>
                    <br><br><br>
                    <br>
                    <small class="text-dark fw-bold fst-italic text-center">How did you get here?!?! OMG you must be in
                        the wrong place at the wrong time >:[ Maybe you accidentally clicked somewhere you shouldn't or
                        tried to enter some forbidden link....</small>
                    <br><br><br>
                    <small class="text-dark fw-bold text-center">Anyways if you want to come-back to the beautiful site
                        you can click
                        <a [routerLink]="['/home']">here.</a> To redirect :]
                    </small>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <br>
            <small class="text-muted fw-bold fst-italic">I like this cat :)))</small>
        </div>
    </div>
</div>