<div class="container container-data" *ngIf="!isUser">
    <h1 class="fw-bold text-center">Appointments</h1>
    <hr>
    <div class="schedule-container">
        <div class="card">
            <div class="card-header">
                <div class="header">
                    <h5 class="text-center fw-bold fst-italic">Your Schedule</h5>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <table class="table table-bordered table-dark text-light">
                    <thead class="text-center">
                        <tr>
                            <th>
                                Start Time
                            </th>

                            <th>
                                End Time
                            </th>

                            <th>
                                Monday
                            </th>

                            <th>
                                Tuesday
                            </th>

                            <th>
                                Wednesday
                            </th>

                            <th>
                                Thursday
                            </th>

                            <th>
                                Friday
                            </th>

                            <th>
                                Saturday
                            </th>

                            <th>
                                Sunday
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center">
                            <td>
                                {{ doctorSchedule.startTime }}
                            </td>

                            <td>
                                {{ doctorSchedule.endTime }}
                            </td>

                            <td>
                                {{ doctorSchedule.monday ? 'YES' : 'NO'}}
                            </td>

                            <td>
                                {{ doctorSchedule.tuesday ? 'YES' : 'NO' }}
                            </td>

                            <td>
                                {{ doctorSchedule.wednesday ? 'YES' : 'NO'}}
                            </td>

                            <td>
                                {{ doctorSchedule.thursday ? 'YES' : 'NO'}}
                            </td>

                            <td>
                                {{ doctorSchedule.friday ? 'YES' : 'NO' }}
                            </td>

                            <td>
                                {{ doctorSchedule.saturday ? 'YES' : 'NO' }}
                            </td>

                            <td>
                                {{ doctorSchedule.sunday ? 'YES' : 'NO' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex flex-column align-items-end">
                    <button type="button" (click)="editSchedule(modalEditSchedule)"
                        class="btn btn-dark btn-outline-light">Edit
                        Schedule</button>
                    <!-- <button type="button" class="btn btn-dark btn-outline-light">Details</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-appointments" *ngIf="appointmentList.length > 0; else notAppointments">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center fst-italic fw-bold"> Showing all appointments </h5>
            </div>
            <hr>
            <div class="card-body">
                <table class="table table-bordered text-light table-dark">
                    <thead class="text-center">
                        <tr>
                            <th>
                                Email
                            </th>

                            <th>
                                Symptoms
                            </th>

                            <th>
                                Status
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        <tr *ngFor="let appointment of appointmentList">
                            <td>
                                {{ appointment.email }}
                            </td>

                            <td>
                                {{ appointment.description }}
                            </td>

                            <td>
                                {{ appointment.status }}
                            </td>

                            <td class="text-center">
                                <button class="btn btn-light btn-outline-dark"
                                    (click)="editAppointment(modalEditAppointment, appointment)">View </button>
                                <button class="btn btn-danger">Delete </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="container container-data" *ngIf="isUser">
    <h1 class="fw-bold text-center">Appointments</h1>
    <hr>

    <table class="table table-dark">
        <thead>

        </thead>
        <tbody>
            <tr *ngIf="">
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #notAppointments>
    <div class="container text-center">
        <h5 class="fw-bold text-danger">It seems there's not appointments...</h5>
        <small class="fw-bold text-muted fst-italic">If there's a new appointment it will appear here :)</small>
    </div>
</ng-template>

<ng-template #modalEditAppointment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Schedule</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editFormAppointment">
            <div class="mb-3 row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col">
                    <input class="form-control" type="email" formControlName="email" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputSymptoms" class="col-sm-3 col-form-label">Symptoms</label>
                <div class="col">
                    <input class="form-control" type="text" formControlName="symptoms" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="statusSelect" class="col-sm-3 col-form-label">Status</label>
                <div class="col">
                    <select id="statusSelect" class="form-control" formControlName="status"
                        (change)="onChangeStatus($event)">
                        <option value="">Please choose an option</option>
                        <option value="Pending">Pending</option>
                        <option value="Accepted">Accepted</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-light" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="saveAppointment()">Save</button>
    </div>

</ng-template>

<ng-template #modalEditSchedule let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Schedule</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editFormSchedule">
            <div class="form-group">
                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Start time</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" maxlength="4" formControlName="startTime" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">End time</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" maxlength="4" formControlName="endTime" />
                    </div>
                </div>

                <hr>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Monday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control" (change)="onChangeMonday($event)"
                            formControlName="monday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Tuesday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control" (change)="onChangeTuesday($event)"
                            formControlName="tuesday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Wednesday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control"
                            (change)="onChangeWednesday($event)" formControlName="wednesday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Thursday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control"
                            (change)="onChangeThursday($event)" formControlName="thursday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Friday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control" (change)="onChangeFriday($event)"
                            formControlName="friday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Saturday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control"
                            (change)="onChangeSaturday($event)" formControlName="saturday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputFullName" class="col-sm-3 col-form-label">Sunday</label>
                    <div class="col">
                        <select name="dayYesOrNo" id="daySelect" class="form-control" (change)="onChangeSunday($event)"
                            formControlName="sunday">
                            <option value="">Please choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-light" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="saveSchedule()">Save</button>
    </div>
</ng-template>